
:root {
  --black: rgb(17, 17, 17);
  --background-clr: white;
  --main-clr: rgb(213, 1, 1);
  --gray: rgb(212, 212, 212);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-clr: white;
    --background-clr: black;
  }
} */

body {
  color: var(--foreground-clr);
  background: var(--background-clr);
}
main {
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  transition: all 0.3s ease;
}
section.mainClr {
  height: 250px;
  color: white;
  background-color: var(--main-clr);
  transition: all 0.3s ease;
}
section.full {
  height: 80vh;
  transition: all 0.3s ease;
}
section.white {
  background-color: var(--background-clr);
  color: var(--foreground-clr);
  justify-content: flex-start;
}
h2 {
  font-size: 1.85rem;
  margin-bottom: 50px;
}

.searchInput {
  width: 60%;
  max-width: 350px;
  position: relative;
}
.searchInput>input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  padding: 5px 15px;
  padding-left: 45px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.1rem;
}
.searchInput>.img {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25px;
}

.favs-toggle {
  border: 0px solid var(--gray);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  background-color: white;
  margin-top: 35px;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.favs-toggle:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.favs-toggle.active {
  background-color: var(--black);
  color: white;
}
.no-data{
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
} 
.searchResults {
  margin-top: 40px;
  width: 80%;
  max-width: 550px;
  margin-bottom: 50px;
}
.searchResults>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgba(121, 121, 121, 0.542);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.searchResults>li:hover {
  scale: 1.01;
  transition: all 0.3s ease-in-out;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.name {
  margin-inline: 15px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.product.expanded {
  background-color: var(--gray);
  transition: all 0.3s ease-in-out;
  padding: 2px 4px;
  border-radius: 5px;
} 
.product>.title {
  text-transform: capitalize;
  font-size: 0.85rem;
}
.product.expanded>.title {
  margin-left: 5px;
}

.departure-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(233, 233, 233);
}
.departure-page h1 {
  width: 80%;
  max-width: 550px;
  padding-block: 20px;
  padding-inline: 10px;
  margin-block: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: var(--main-clr);
  border-radius: 10px;
  font-size: 1.9rem;
  letter-spacing: 2.5px;
  text-align: center;
  color: white;
  cursor: default;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}
.departure-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 550px;
  padding: 15px 20px;
}
.departure-head>a:hover {
  rotate: 45deg;
  transition: all 0.3s ease;
}
.departure-head>a:active {
  rotate: -720deg;
  transition: all 10ms ease;
}
.departure-head h2 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin: 0;
  color: rgb(22, 22, 22);
  text-transform: uppercase;
  cursor: default;
}
.back-to-search {
  padding: 8px 12px;
  border: 0px;
  border-radius: 8px;
  font-size: 1.05rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--black);
  color: white;
  cursor: pointer;
}
.back-to-search:hover {
  color: var(--main-clr);
}

.departures {
  width: 80%;
  max-width: 550px;
}
.departure {
  display: grid;
  grid-template-columns: 20% 1fr 40%;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 25px;
  padding: 12px 20px;
  padding-bottom: 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.departure:hover,.departure:active {
  scale: 1.006;
  transition: all 0.3s ease;
}
.departure .time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
}

.departure .time.delayed .planned, .departure .time.tooEarly .planned {
  color: rgb(146, 146, 146);
  text-decoration: line-through;
}
.departure .time .delay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(146, 146, 146);
  grid-column: span 2;
}
.departure .time .delay>span {
  margin-inline: 2.5px;
  font-size: 0.7rem;
  font-weight: 600;
}
.departure .time.delayed .delay>span {
  color: red;
}
.departure .time.tooEarly .delay>span {
  color: green;
}
.departure .direction {
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 700;
}
.departure .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
.departure .hints {
  align-self: center;
  justify-self: center;
}
.departure .right {
  display: grid;
  justify-items: flex-end;
  align-items: center;
  justify-self: flex-end;
  gap: 7px;
}
.departure .line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-size: 0.95rem;
  font-weight: 500;
}
.departure .platform {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 600;
}
.departure .platform>div {
  min-width: 15px;
  font-size: 1rem;
  text-align: end;
}
.departure .platform .changed {
  color: red;
}

.departure .remarks {
  grid-column: span 4;
  margin-top: 6px;
  display: flex;
  justify-content: center;
}
.departure .remarks.warning {
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 70% 30%;
}
.departure .remarks.show::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  background-color: rgb(194, 194, 194);
}
.departure .remarks.show.warning::before {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 64.5%, rgba(194,194,194,1) 65%, rgba(194,194,194,1) 100%); 
}
.remarks .warnings,.remarks .hints {
  z-index: 1;
  padding: 10px 0px;
  font-size: 0.8rem;
}
.remarks .warnings {
  background-color: red;
  margin: 0px 50px 0px 0px;
  padding-left: 10px;
}
.remarks .hints {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.remarks.warning .hints {
  display: block;
  align-self: flex-start;
  justify-self: flex-start;
}
.remarks .warnings>div, .remarks .hints> div {
  font-size: 0.75rem;
  padding: 3px 0px;
  z-index: 1;
}
.departure .remarks button {
  position: absolute;
  left: -20px;
  width: calc(100% + 20px);
  bottom: 0%;
  border: 0px;
  background-color: rgb(194, 194, 194);
  font-weight: 700;
  font-size: 1.01rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.departure .remarks button:hover {
  background-color: rgb(159, 159, 159);
  transition: all 0.3s ease;
}
.departure .remarks.warning button {
  background-color: red;
  color: white;
  transition: all 0.3s ease;
}
.departure .remarks.warning button:hover {
  background-color: var(--main-clr);
  color: white;
  transition: all 0.3s ease;
}

.departure .remarks.show button {
  background-color: rgb(144, 144, 144);
  color: var(--black);
  transition: all 0.3s ease;
}