
/* GLOBAL STYLES*/
:root {
  --black: rgb(17, 17, 17);
  --main-clr: rgb(213, 1, 1);
  --default-bg: rgb(233, 233, 233);
  --gray: rgb(212, 212, 212);
  --default-transition: all 0.3s ease-in-out; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  overflow-wrap: anywhere;
}

ul {
  list-style: none;
}

body {
  color: var(--black);
  background: var(--default-bg);
}
main {
  height: 100vh;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.spinner {
  border-top: 4px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}







/* 

FRONT/SEARCH-PAGE STYLING
*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  position: relative;
  transition: var(--default-transition);
}
section.main-clr {
  height: 250px;
  color: white;
  background-color: var(--main-clr);
  transition: var(--default-transition);
}
section>.rails-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.07;
  object-fit: cover;
}
section.full {
  height: 75vh;
  transition: var(--default-transition);
}
section.white {
  background-color: var(--background-clr);
  color: var(--black);
  justify-content: flex-start;
}
section.main-clr h2 {
  font-size: 1.85rem;
  margin-bottom: 50px;
  text-align: center;
  z-index: 1;
  cursor: default;
}

.search-input {
  width: 60%;
  max-width: 350px;
  position: relative;
  z-index: 1;
}
.search-input>input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  padding: 5px 15px;
  padding-left: 45px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.1rem;
  border: 0px;
}
.search-input>input:focus, .search-input>input.active {
  outline: none !important;
  border: 3px solid var(--black);
}
.search-input>.img {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25px;
}

.favs-toggle {
  border: 0px solid var(--gray);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  background-color: white;
  margin-top: 35px;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: var(--default-transition);
}
.favs-toggle:hover {
  scale: 1.05;
  transition: var(--default-transition);
}
.favs-toggle.active {
  background-color: var(--black);
  color: white;
}
.no-data{
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}



/* STOP-LIST DISPLAY STYLING */

.search-results {
  margin-top: 40px;
  width: 80%;
  max-width: 550px;
  margin-bottom: 50px;
}
.search-results>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(121, 121, 121, 0.542);
  transition: var(--default-transition);
  cursor: pointer;
}
.search-results>li:hover {
  scale: 1.01;
  transition: var(--default-transition);
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.star-btn.head {
  padding-inline: 15px;
}
.name {
  margin-inline: 15px;

}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  transition: var(--default-transition);
  overflow: hidden;
  cursor: pointer;
}
.product.expanded {
  background-color: var(--gray);
  transition: var(--default-transition);
  padding: 2px 4px;
  border-radius: 5px;
} 
.product>.title {
  text-transform: capitalize;
  font-size: 0.85rem;
}
.product.expanded>.title {
  margin-left: 5px;
}










/* DEPARTURES PAGE STYLING */
.departure-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(233, 233, 233);
}
.departure-page h1 {
  width: 80%;
  max-width: 550px;
  padding-block: 20px;
  padding-inline: 10px;
  margin-block: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: var(--main-clr);
  border-radius: 10px;
  font-size: 1.9rem;
  letter-spacing: 2.5px;
  text-align: center;
  color: white;
  cursor: default;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
}
.departure-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 550px;
  padding: 15px 20px;
}
/* reload button animation */
.departure-head>a {
  transition: var(--default-transition);
}
.departure-head>a:hover { 
  rotate: 45deg;
  transition: var(--default-transition);
}
.departure-head>a:active {
  rotate: -720deg;
  transition: all 10ms ease;
}

.departure-head h2 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin: 0;
  color: rgb(22, 22, 22);
  text-transform: uppercase;
  cursor: default;
}
/* back to search BUTTON */
.back-to-search { 
  padding: 8px 12px;
  border: 0px;
  border-radius: 8px;
  font-size: 1.05rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--black);
  color: white;
  cursor: pointer;
  transition: var(--default-transition);
}
.back-to-search:hover {
  color: var(--main-clr);
  scale: 1.02;
  transition: var(--default-transition);
}



/* DEPARTURES LIST STYLING */

.no-departures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.departures {
  width: 80%;
  max-width: 550px;
}
.departure {
  display: grid;
  grid-template-columns: 20% 1fr 40%;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 25px;
  padding: 12px 20px;
  padding-bottom: 25px;
  border-radius: 10px;
  transition: var(--default-transition);
  position: relative;
  overflow: hidden;
}
.departure:hover,.departure:active {
  scale: 1.006;
  transition: var(--default-transition);
}
.departure .time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  gap: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
}

.departure .time.delayed .planned, .departure .time.tooEarly .planned {
  color: rgb(146, 146, 146);
  text-decoration: line-through;
}
.departure .time .delay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(146, 146, 146);
  grid-column: span 2;
  margin-bottom: 4px;
}
.departure .time .delay>span {
  margin-inline: 2.5px;
  font-size: 0.7rem;
  font-weight: 600;
}
.departure .time.delayed .delay>span {
  color: red;
}
.departure .time.tooEarly .delay>span {
  color: green;
}
.departure .direction {
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 700;
  overflow-wrap: break-word;
}
.departure .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
.departure .hints {
  align-self: center;
  justify-self: center;
}
.departure .right {
  display: grid;
  justify-items: flex-end;
  align-items: center;
  justify-self: flex-end;
  gap: 7px;
}
.departure .line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-size: 0.95rem;
  font-weight: 500;
}
.departure .platform {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 600;
}
.departure .platform>div {
  min-width: 15px;
  font-size: 1rem;
  text-align: end;
}
.departure .platform .changed {
  color: red;
}

.departure .more-details {
  grid-column: span 4;
  margin-top: 10px;
  width: calc(100% + 40px);
  transform: translate(-20px,0px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(194, 194, 194);
}
.more-details .warnings,.more-details .hints {
  z-index: 1;
  padding: 15px 25px;
  font-size: 0.8rem;
}
.more-details .warnings {
  background-color: red;
}
.more-details .hints {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.more-details .warnings>div, .more-details .hints> div {
  font-size: 0.75rem;
  padding: 3px 0px;
  z-index: 1;
}
.departure .more-details button {
  position: absolute;
  left: -20px;
  width: calc(100% + 20px);
  height: 25px;
  top: 100%;
  border: 0px;
  background-color: rgb(194, 194, 194);
  color: white;
  font-weight: 700;
  font-size: 1.01rem;
  cursor: pointer;
  transition: var(--default-transition);
}
.departure .more-details button:hover {
  background-color: rgb(159, 159, 159);
  color: white;
  transition: var(--default-transition);
}
.departure .more-details.warning button {
  background-color: red;
  color: white;
  transition: var(--default-transition);
}
.departure .more-details.warning.show button {
  background-color: var(--main-clr);
  color: white;
  transition: var(--default-transition);
}
.departure .more-details.warning.show button:hover {
  background-color: rgb(159, 159, 159);
  color: white;
  transition: var(--default-transition);
}

.departure .more-details.show button {
  background-color: rgb(144, 144, 144);
  color: var(--black);
  transition: var(--default-transition);
}

@media (max-width: 700px) {
  section.main-clr h2 {
    font-size: 1.6rem;
    padding-inline: 20px;

  }
  .departure-page h1 {
    font-size: 1.3rem;
  }
  .departure-head {
    width: 85%;
    gap: 25px;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .departure-head h2 {
    font-size: 1.4rem;
    margin-bottom: 6px;
    font-weight: 700;
  }
  .departure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .departure .direction {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    order: -1;
  }
  .flex>.hints {
    margin-right: 10px;
  }
  .departure .more-details {
    min-width: calc(100% + 40px);
    translate: 20px;
  }
  .departure .more-details button {
    width: calc(100% + 40px);
  }
  .back-to-search {
    width: 100%;
  }
}