
:root {
  --foreground-clr: rgb(14, 14, 14);
  --background-clr: white;
  --main-clr: rgb(213, 1, 1);
  --gray: rgb(212, 212, 212);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-clr: white;
    --background-clr: black;
  }
} */

body {
  color: var(--foreground-clr);
  background: var(--background-clr);
}
main {
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  transition: all 0.3s ease;
}
section.mainClr {
  height: 250px;
  color: white;
  background-color: var(--main-clr);
  transition: all 0.3s ease;
}
section.full {
  height: 80vh;
  transition: all 0.3s ease;
}
section.white {
  background-color: var(--background-clr);
  color: var(--foreground-clr);
  justify-content: flex-start;
}
h2 {
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.searchInput {
  width: 60%;
  max-width: 350px;
  position: relative;
}
.searchInput>input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  padding: 5px 15px;
  padding-left: 45px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.1rem;
}
.searchInput>.img {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25px;
}

.favs-toggle {
  border: 0px solid var(--gray);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  background-color: white;
  margin-top: 35px;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.favs-toggle:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.favs-toggle.active {
  background-color: black;
  color: white;

}
.no-data{
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
} 
.searchResults {
  margin-top: 40px;
  width: 80%;
  max-width: 550px;
  margin-bottom: 50px;
}
.searchResults>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgba(121, 121, 121, 0.542);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.searchResults>li:hover {
  scale: 1.01;
  transition: all 0.3s ease-in-out;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.name {
  margin-inline: 15px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.product.expanded {
  background-color: var(--gray);
  transition: all 0.3s ease-in-out;
  padding: 2px 4px;
  border-radius: 5px;
} 
.product>.title {
  text-transform: capitalize;
  font-size: 0.85rem;
}
.product.expanded>.title {
  margin-left: 5px;
}

